# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
ktagile
ktagile_a_medias
ktagile_funciona
dist
dist-ssr
*.local
.env.production
ktagile_funciona_creo.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
KT Agile.pptx
ktagile_git.zip
ktagile.zip
BoardKanban.rar